.App {
  text-align: center;
}

.checked {
  text-decoration: line-through;
  font-style: italic;
  color: #4e4f51;
}

.dislike {
  padding: 2px 5px;
  margin: 1px 7px;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 2px 6px;
  /* box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1); */
}

.dislike:hover {
  box-shadow: 0 0 60px 10px rgba(255, 145, 0, 0.7);
}
